:root {
  --primary-blue: #393dab;
  --body-background1: #edf0f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.basic-flex {
  display: flex;
  align-items: center;
}
